.clearfix {
	clear: both;
}
.header {
	background: green;
	margin-bottom: 50px;
}
.logo {
	background-color: blue;
	width: 500px;
	height: 500px;
	float: left;
}
.nav {
	background-color: blue;
	width: 500px;
	height: 500px;
	float: right;
}

.block {
	background-color: yellow;
	margin-bottom: 50px;
}

ul li {
	display: inline-block;
}

.nav-list {
	float: right;
}

.nav-list li {
	background: green;
	width: 200px;
	height: 200px;
}
.logo-block {
	width: 200px;
	height: 200px;
	background: green;
	float: left;
}

.section {
	background-color: teal;
}

.section-list {
	float: left;
}

.section-list li {
	width: 200px;
	height: 200px;
	background-color: red;
}

.section-list-right {
	float: right;
}

.section-list-right li {
	width: 200px;
	height: 200px;
	background-color: red;
}
