.clearfix {
	clear: both;
}
.header {
	background: green;
	margin-bottom: 50px;
}
.logo {
	margin: 10px;
	background-color: blue;
	width: 300px;
	height: 300px;
	float: left;
}
.nav {
	margin: 10px;
	background-color: blue;
	width: 300px;
	height: 300px;
	float: right;
}

.block {
	background-color: yellow;
	margin-bottom: 50px;
}

.nav-list {
	float: right;
}

.nav-list li {
	display: inline-block;
	background: green;
	width: 200px;
	height: 200px;
}
.logo-block {
	margin: 10px;
	width: 200px;
	height: 200px;
	background: green;
	float: left;
}

.section {
	background-color: teal;
	margin-bottom: 50px;
}

.section-list {
	float: left;
}

.section-list li {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: red;
}

.section-list-right {
	float: right;
}

.section-list-right li {
	display: inline-block;
	width: 200px;
	height: 200px;
	background-color: red;
}

footer {
	background-color: tomato;
	text-align: center;
}

.footer-list li {
	vertical-align: top;
	display: inline-block;
}

.footer-item-title {
	background-color: yellowgreen;
	width: 200px;
	height: 90px;
}
.footer-item-text {
	background-color: yellowgreen;
	width: 200px;
	height: 90px;
}
.footer-img {
	margin: 10px;
	width: 200px;
	height: 200px;
	background-color: yellowgreen;
}

.container {
	background-color: red;
	text-align: right;
}

.container-list li {
	margin-right: 10px;
	vertical-align: top;
	display: inline-block;
}
.container-img {
	margin: 10px;
	width: 200px;
	height: 200px;
	background-color: white;
}
.container-item-title {
	background-color: white;
	width: 200px;
	height: 90px;
}
.container-item-text {
	background-color: white;
	width: 200px;
	height: 90px;
}
